.button{
    -fx-background-color: #333333;
}

.button:hover{
    -fx-background-color: #33333c;
}

.button:pressed{
    -fx-background-color: #33333c;
}

.btnClose:hover{
    -fx-background-color: #1b1b1f;
}
.button:focused{
    -fx-background-color: #1b1b1f;
    -fx-border-color: #85fd13;
    -fx-border-width: 0px 0px 0px 3px;
}